In [61]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [4]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [5]:
# reflect an existing database into a new model
base = automap_base()
# reflect the tables
base.prepare(autoload_with=engine)

In [6]:
# View all of the classes that automap found
base.classes.keys()

['station', 'measurement']

In [7]:
# Save references to each table
station = base.classes.station
measurement = base.classes.measurement

In [8]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Precipitation Analysis

In [9]:
from sqlalchemy import create_engine, text, inspect, func
import datetime as dt
import pandas as pd
import numpy as np

In [10]:
inspector = inspect(engine)
inspector.get_table_names()

['measurement', 'station']

In [11]:
# Get a list of column names and types
columns = inspector.get_columns('measurement')
for c in columns:
    print(c['name'], c["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [12]:
# Find the most recent date in the data set.
recent_date = session.query(measurement.date).order_by(measurement.date.desc()).first()
recent_date

('2017-08-23',)

In [84]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 

# Calculate the date one year from the last date in data set.
one_year_from_date = dt.date(2017,8,23) - dt.timedelta(days=365)
print(one_year_from_date)

# Perform a query to retrieve the data and precipitation scores
query = session.query(measurement.date, measurement.prcp).\
        filter(measurement.date <= '2017-08-23').\
        filter(measurement.date >= '2016-08-23')
        
# Save the query results as a Pandas DataFrame. Explicitly set the column names
list = []
for row in query:
    # print(row)
    list.append(row)
# print(list)
df = pd.DataFrame(list)
df

# Clean the data
df = df.fillna(value=np.nan)
df = df.dropna()
#df

# Sort the dataframe by date
df.sort_values('date',ascending=True)

# Use Pandas Plotting with Matplotlib to plot the data
df[['year','date']] = df['date'].str.split('-', n=1, expand=True)
df
updated_df = df[['date', 'prcp','year']].groupby(['year','date']).sum()
updated_df

2016-08-23

            prcp
year date
2016 08-23  2.71
     08-24  9.33
     08-25  0.54
     08-26  0.10
     08-27  0.32
...          ...
2017 08-19  0.09
     08-20  0.01
     08-21  0.58
     08-22  0.50
     08-23  0.53

[366 rows x 1 columns]

In [28]:
# Use Pandas to calculate the summary statistics for the precipitation data
df.describe()

              prcp
count  2021.000000
mean      0.177279
std       0.461190
min       0.000000
25%       0.000000
50%       0.020000
75%       0.130000
max       6.700000

# Exploratory Station Analysis

In [15]:
# Design a query to calculate the total number of stations in the dataset

In [16]:
# Design a query to find the most active stations (i.e. which stations have the most rows?)
# List the stations and their counts in descending order.

In [17]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [18]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close Session

In [19]:
# Close Session
session.close()